/* HEX CODES

Red - #FC3435
Yellow - #FEBD02
Yellow 2 - #FFC300

*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(254, 189, 2, 0.145);
}

/* MEDIA QUERIES */



/* WELCOME SECTION */

.wcontainer {
    height: 100vh;
    background: linear-gradient(to right,rgba(252, 52, 53, 0.8),rgba(254, 189, 2, 0.8)), url(https://cdn.discordapp.com/attachments/984739658988683265/1052190766665052180/Main-photo-scaled.png);
    background-size: cover;
    background-position: top;
}

.fb {
    height: 6.375em;
    margin-left: 4.625em;
    margin-top: 1.625em;
    margin-bottom: 0.625em;
}

.ig {
    height: 3em;
    margin-left: 0.6875em;
    margin-top: 0.3em;
}

.navbar {
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    z-index: 2;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 5em;
    margin-left: 0.7em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
}

nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: .2s;
}

nav ul li a:hover {
    font-size: 1.4em;
}

.info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5em;
}

.wlcmsg {
    color: #fff;
    margin-top: 2.2em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: 4.5em;
}

.dscmsg {
    color: #fff;
    margin-top: 1em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    font-style: italic;
}

.buttons {
    display: flex;
}

.buttons ul li {
    display: inline-block;
    width: 12.5em;
    color: #fff;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1em;
    background: transparent;
    text-align: center;
    padding: 0.9375em 0;
    margin-top: 1.875em;
    border: 2px solid #fff;
    border-radius: 1.5625em;
    margin-left: 0rem;
}

.buttons ul li a {
    text-decoration: none;
    color: #fff;
}

#button2 {
    margin-left: 1em;
}

/* DISCOVER SECTION */

#discover {
    width: 100%;
    padding: 4.375em 0;
}

.hook {
    font-family: 'League Spartan', sans-serif;
    color: #FC3435;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 3.125em;
}

.hook h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hook p {
    font-weight: 300;
    font-size: 1.1875em;
}

.cardsr1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2.5em;
}

.cont {
    width: 18.125em;
    height: 10em;
    margin: auto;
}

.card {
    width: 18.125em;
    height: 25em;
    font-family: 'League Spartan', sans-serif;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.625em;
    box-shadow: 0 0 1.25em rgba(0,0,0,0.2);
    cursor: pointer;
}

.card, .card:after, card:before {
    transition: .3s;
}

.card:hover {
    width: 20em;
    height: 26em;
}

.card img {
    width: 100%;
    height: 10.625em;
    border-top-left-radius: 0.625em;
    border-top-right-radius: 0.625em;
}

.card h4 {
    margin: 1em 0.8em;
    color: #1b1b1b;
}

.card p {
    margin: 1em 0.8em;
    color: #1b1b1b;
    line-height: 1;
}

.tag {
    font-weight: 500;
    font-size: 0.75em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1.25em;
    margin-left: 0.9375em;
    padding: 0.3125em 0.625em;
    display: inline-block;
    background: #FF9900;
    border-radius: 3.125em;
    cursor: pointer;   
}

/* EVENTS SECTION */

#events {
    width: 100%;
    padding: 4.375em 0;
    background: linear-gradient(to bottom right, #FC3435, #FF8A00);
}

.hook2 {
    font-family: 'League Spartan', sans-serif;
    color: #FEBD02;
    text-align: right;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 12.5em;
}

.hook2 h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hook2 p {
    font-weight: 300;
    font-size: 1.1875em;
}

.strips {
    display: flex;
    flex-direction: column;
}

.strip {
    width: 50%;
    height: 12.5em;
    position: relative;
    color: #1b1b1b;
    margin-bottom: 12.5em;
    background: #febd02;
    box-shadow: 0 0 1.25em rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.2s;
}
    
.strip p {
    font-size: 1.35em;
    line-height: 1;
}

.spic {
    box-shadow: 0 0 1.25em rgba(0,0,0,0.2);
}

.strip1 {
    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    transition: 0.2s;
}

.strip1 p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 4em;
    left: 1em;
    right: 1.25em;
}

.strip1 h1 {
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    left: 0.4em;
    top: 0.5em;
    font-size: 2.7em;
}

#strip1pic {
    width: 18.75em;
    height: 12.5em;
    position: absolute;
    bottom: 9.375em;
    left: 22em;
    border-radius: 1.25em;
}

#map1 {
    width: 30em;
    height: 20em;
    position: absolute;
    left: 50em;
    bottom: 1em;
}

.s2contain {
    display: flex;
}

.s2decoy {
    width: 50%;
    height: 12.5em;
}

.strip2 {
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
}

.strip2 p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 4em;
    left: 1.25em;
    right: 1.25em;
}

.strip2 h1 {
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    right: 0.525em;
    top: 0.5em;
    font-size: 2.7em;
}

#strip2pic {
    width: 18.75em;
    height: 12.5em;
    position: absolute;
    bottom: 9.375em;
    right: 22em;
    border-radius: 1.25em;
}

#map2 {
    width: 30em;
    height: 20em;
    position: absolute;
    right: 50em;
    bottom: 1em;
}


.strip3 {
    border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
}

.strip3 p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 3.8em;
    left: 1em;
    right: 1.25em;
}

.strip3 h1 {
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    left: 0.4em;
    top: 0.5em;
    font-size: 2.7em;
}

#strip3pic {
    width: 18.75em;
    height: 12.5em;
    position: absolute;
    bottom: 9.375em;
    left: 22em;
    border-radius: 1.25em;
}

#map3 {
    width: 30em;
    height: 20em;
    position: absolute;
    left: 50em;
    bottom: 1em;
}

.s4contain {
    display: flex;
}

.s4decoy {
    width: 50%;
    height: 12.5em;
}

.strip4 {
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    margin-bottom: 5em;
}

.strip4 p {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 3.8em;
    left: 1.25em;
    right: 1.25em;
}

.strip4 h1 {
    font-family: 'League Spartan', sans-serif;
    position: absolute;
    right: 0.525em;
    top: 0.5em;
    font-size: 2.7em;
}

#strip4pic {
    width: 18.75em;
    height: 12.5em;
    position: absolute;
    bottom: 9.375em;
    right: 22em;
    border-radius: 1.25em;
}

#map4 {
    width: 30em;
    height: 20em;
    position: absolute;
    right: 50em;
    bottom: 1em;
}


